<a href="https://colab.research.google.com/github/mion158/Language-and-Chatbot/blob/main/regex_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import pandas as pd

anime_facts = ['Namakura Gatana is the earliest surviving anime.', 
             'Sazae-san is the world\'s longest-running anime.',
             'Sally the Witch is the first magical girl anime.', 
             'Spirited Away was the first anime to be nominated for an Oscar.',
             'The Titans in Attack on Titan are based on drunk people.']

anime_timetable = ['Monday: Tensei Kenja no Isekai Life: Daini no Shokugyo wo Ete, Sekai Saikyou ni Narimashita Ep 12F at 01:00 PM',
                   'Tuesday: Love Live! Superstar!! 2 Ep 1-10F at 08:01 AM',
                   'Wednesday: Warau Arsnotoria Sun! Ep 11 at 02:00 PM',
                   'Thursday: Bastard!!: Ankoku no Hakaishin Ep 14-24F at 08:01 AM',
                   'Friday: Ame wo Tsugeru Hyouryuu Danchi Ep 1F at 08:01 AM']

df = pd.DataFrame(anime_timetable, columns=['text'])
df

                                                text
0  Monday: Tensei Kenja no Isekai Life: Daini no ...
1  Tuesday: Love Live! Superstar!! 2 Ep 1-10F at ...
2  Wednesday: Warau Arsnotoria Sun! Ep 11 at 02:0...
3  Thursday: Bastard!!: Ankoku no Hakaishin Ep 14...
4  Friday: Ame wo Tsugeru Hyouryuu Danchi Ep 1F a...

In [37]:
print('number of characters: ')
print(df['text'].str.len())
print("")
print('number of tokens: ')
print( df['text'].str.split().str.len())

number of characters:
0    110
1     54
2     50
3     62
4     56
Name: text, dtype: int64

number of tokens:
0    20
1    10
2     9
3    10
4    11
Name: text, dtype: int64

In [38]:
df['text'].str.split(' ')

0    [Monday:, Tensei, Kenja, no, Isekai, Life:, Da...
1    [Tuesday:, Love, Live!, Superstar!!, 2, Ep, 1-...
2    [Wednesday:, Warau, Arsnotoria, Sun!, Ep, 11, ...
3    [Thursday:, Bastard!!:, Ankoku, no, Hakaishin,...
4    [Friday:, Ame, wo, Tsugeru, Hyouryuu, Danchi, ...
Name: text, dtype: object

In [39]:
print("")
print('string contains word isekai: ')
print( df['text'].str.lower().str.contains('isekai'))

string contains word isekai:
0     True
1    False
2    False
3    False
4    False
Name: text, dtype: bool

In [91]:
df['text'].str.replace(r'(\w+day\b)', lambda x: x.group()[0][:3])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

0    M: Tensei Kenja no Isekai Life: Daini no Shoku...
1     T: Love Live! Superstar!! 2 Ep 1-10F at 08:01 AM
2           W: Warau Arsnotoria Sun! Ep 11 at 02:00 PM
3    T: Bastard!!: Ankoku no Hakaishin Ep 14-24F at...
4    F: Ame wo Tsugeru Hyouryuu Danchi Ep 1F at 08:...
Name: text, dtype: object

In [57]:
df['text'].str.extractall(r'((\d?\d):(\d\d) ([AP]M))')

                0   1   2   3
  match
0 0      01:00 PM  01  00  PM
1 0      08:01 AM  08  01  AM
2 0      02:00 PM  02  00  PM
3 0      08:01 AM  08  01  AM
4 0      08:01 AM  08  01  AM

In [56]:
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[AP]M))')

             time hour minute period
  match
0 0      01:00 PM   01     00     PM
1 0      08:01 AM   08     01     AM
2 0      02:00 PM   02     00     PM
3 0      08:01 AM   08     01     AM
4 0      08:01 AM   08     01     AM

In [108]:
import re
#regex to find everything 
for sentence in df['text'].str.split():
  for token in sentence:
    if re.search('[A-Za-z0-9_]+', token):
      print(token)

Monday:
Tensei
Kenja
no
Isekai
Life:
Daini
no
Shokugyo
wo
Ete,
Sekai
Saikyou
ni
Narimashita
Ep
12F
at
01:00
PM
Tuesday:
Love
Live!
Superstar!!
2
Ep
1-10F
at
08:01
AM
Wednesday:
Warau
Arsnotoria
Sun!
Ep
11
at
02:00
PM
Thursday:
Bastard!!:
Ankoku
no
Hakaishin
Ep
14-24F
at
08:01
AM
Friday:
Ame
wo
Tsugeru
Hyouryuu
Danchi
Ep
1F
at
08:01
AM

In [142]:

anime_facts = ['Namakura Gatana is the earliest surviving anime.', 
             'Sazae-san is the world\'s longest-running anime.',
             'Sally the Witch is the first magical girl anime.', 
             'Spirited Away was the first anime to be nominated for an Oscar.',
             'The Titans in Attack on Titan are based on drunk people.']

data = pd.DataFrame(anime_facts, columns=['text'])
facts = data['text'].str.split()
facts

0    [Namakura, Gatana, is, the, earliest, survivin...
1    [Sazae-san, is, the, world's, longest-running,...
2    [Sally, the, Witch, is, the, first, magical, g...
3    [Spirited, Away, was, the, first, anime, to, b...
4    [The, Titans, in, Attack, on, Titan, are, base...
Name: text, dtype: object

In [113]:
import nltk

In [143]:
#normalization and stemming

porter = nltk.PorterStemmer()
for sentence in facts:
  for token in sentence:
    print(porter.stem(token))

namakura
gatana
is
the
earliest
surviv
anime.
sazae-san
is
the
world'
longest-run
anime.
salli
the
witch
is
the
first
magic
girl
anime.
spirit
away
wa
the
first
anim
to
be
nomin
for
an
oscar.
the
titan
in
attack
on
titan
are
base
on
drunk
people.

In [145]:
#lemmatization
nltk.download('wordnet')
nltk.download('omw-1.4')
WNlemma = nltk.WordNetLemmatizer()
[WNlemma.lemmatize(token) for token in facts[4]]

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

['The',
 'Titans',
 'in',
 'Attack',
 'on',
 'Titan',
 'are',
 'based',
 'on',
 'drunk',
 'people.']

In [157]:
#POS tagging 
nltk.download('averaged_perceptron_tagger')
nltk.pos_tag(facts[4])

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

[('The', 'DT'),
 ('Titans', 'NNPS'),
 ('in', 'IN'),
 ('Attack', 'NNP'),
 ('on', 'IN'),
 ('Titan', 'NNP'),
 ('are', 'VBP'),
 ('based', 'VBN'),
 ('on', 'IN'),
 ('drunk', 'NN'),
 ('people.', 'NN')]

In [151]:
#word tokenize also have a function (sentence tokenize as well)
nltk.download('punkt')
ani_facts = data['text']
nltk.word_tokenize(ani_facts[4])

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

['The',
 'Titans',
 'in',
 'Attack',
 'on',
 'Titan',
 'are',
 'based',
 'on',
 'drunk',
 'people',
 '.']